---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar/Navbar";
import Banner from "../components/Banner";
import Footer from "../components/Footer";
import { getMenu, getMenuSections } from "../lib/sanity";

const data = await getMenu();
const sections = await getMenuSections();
---

<Layout
  generator="Bean Street v1.0.0"
  title="Bean Street - Menu"
  description="At Bean Street, we offer a wide range of coffee blends, as well as hot chocolate, and pastries. All of our products are made with the freshest and highest quality ingredients."
  altImage="Bean Street Logo"
>
  <Navbar client:load />
  <Banner client:load />
  <main class="w-full">
    <section class="flex w-full justify-center overflow-hidden bg-beige-200">
      <div
        class="flex w-full max-w-[1920px] items-center lg:min-h-[calc(100vh-108px)] lg:justify-center"
      >
        <div class="relative flex w-full flex-col items-center md:px-28">
          <div
            class="right-0 top-16 py-8 md:absolute md:translate-x-1/2 md:p-0"
          >
            <img
              class="md:h-[160px] md:w-[160px] lg:h-[200px] lg:w-[200px]"
              width="120"
              height="120"
              src="/assets/bag-of-coffee-beans.svg"
              alt="Bag of coffee beans"
            />
          </div>
          <div
            class="flex w-full flex-col px-6 md:max-w-[800px] md:px-0 md:py-32 lg:max-w-5xl lg:py-32"
          >
            <div
              class="mb-10 flex items-end gap-4 after:h-px after:w-full after:bg-brown-300 after:content-[''] md:mb-12 lg:mb-14"
            >
              <h1
                class="whitespace-nowrap font-serif text-5xl font-black leading-[2.15rem] text-red-600/75 lg:text-6xl lg:leading-[2.75rem]"
              >
                Menu
              </h1>
            </div>
            <div
              class="flex flex-col space-y-8 md:flex-row md:gap-x-16 md:space-y-0 lg:gap-x-24"
            >
              <div class="basis-1/2 space-y-8">
                {
                  sections.slice(0, 3).map(section => (
                    <div>
                      <h2 class="mb-2 text-3xl font-black capitalize tracking-tight text-brown-700 lg:mb-4 lg:text-4xl">
                        {section.title}
                      </h2>
                      <ul class="space-y-2 lg:space-y-3">
                        {data
                          .filter(
                            item => item.section.slugTitle === section.slugTitle
                          )
                          .map(item => (
                            <>
                              <li class="space-y-1">
                                <h3 class="font-bold text-brown-800 lg:text-lg">
                                  {item.name}
                                </h3>
                                <p class="text-md text-orange-900/80 lg:text-base">
                                  {item.tip}
                                </p>
                              </li>
                            </>
                          ))}
                      </ul>
                    </div>
                  ))
                }
              </div>
              <div class="basis-1/2 space-y-8">
                {
                  sections.slice(3).map(section => (
                    <div>
                      <h2 class="mb-2 text-3xl font-black capitalize tracking-tight text-brown-700 lg:mb-4 lg:text-4xl">
                        {section.title}
                      </h2>
                      <ul class="space-y-2 lg:space-y-3">
                        {data
                          .filter(
                            item => item.section.slugTitle === section.slugTitle
                          )
                          .map(item => (
                            <>
                              <li class="space-y-0.5">
                                <h3 class="font-bold text-brown-800 lg:text-lg">
                                  {item.name}
                                </h3>
                                <p class="text-md text-orange-900/80 lg:text-base">
                                  {item.tip}
                                </p>
                              </li>
                            </>
                          ))}
                      </ul>
                    </div>
                  ))
                }
              </div>
            </div>
          </div>
          <div
            class="bottom-16 left-0 py-8 md:absolute md:-translate-x-1/2 md:p-0"
          >
            <img
              class="md:h-[160px] md:w-[160px] lg:h-[200px] lg:w-[200px]"
              width="120"
              height="120"
              src="/assets/cup-of-chocolate.svg"
              alt="Cup of chocolate"
            />
          </div>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
